<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="347069498822-mjh360jnp0nlurjtitb51ck7rtipa5hg.apps.googleusercontent.com">
    <title>Behavior Managment System</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/datepicker.css"/>
    <script type="text/javascript" src="/js/datepicker.js"></script>
    <script type="text/javascript" src="/js/general.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
<div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">

        <div class="container-header">
            <div class="container-item">
                <h1><a href="/">Behavior Management System</a></h1>
            </div>
            <div class="container-item">

                <nav>
                    {{#if session.logged_in}}
                        <a href="/admin">Report</a> |
                        <a href="/logout">Logout</a> |
                        <a href="/api/user/showDashboard">My Classrooms</a>
                        {{>my-chosen-classroom}}
                    {{else}}
<!--                        <a href="/login">login</a>-->
                    {{/if}}
                </nav>
            </div>

        </div>
    </header>
    <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
    </main>
    <footer>
        <hr/>
        {{#if session.teacher_name}} Teacher: {{session.teacher_name}} {{/if}}{{#if session.classroom_name}} > {{session.classroom_name}}{{/if}}<br/>
    </footer>
</div>

<!-- Render script for logged in users only -->
{{#if logged_in}}
    <script src="/js/logout.js"></script>
{{/if}}
</body>
 <script>


    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        window.location.href="/api/user/verifyLoginGoogle/"+profile.getName()+"|"+profile.getEmail();
    }

    function alertUno(){

        alert('Uno');
    }

 </script>
<button onclick="signOut()">click</button><a href="javascript:signOut()">alertUno</a>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

    function onLoad() {
        gapi.load('auth2', function() {
            gapi.auth2.init();
        });
    }
</script>
<a href="#" onclick="signOut();">Sign out</a>

<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

</html>