<!-- Loop over each object in the projects array -->

<h1>{{classroom.classroom_name}}</h1>


{{#each classroom.Students as |student| }}
<a href="/api/student/student-detail/{{student_id}}">{{student.student_name}}</a><br>
{{/each}}


