<div class="card">
    <h3 class="card-header">New Student Behavior</h3>
    <form class="card-body new-behavior-form" id="new-behavior-form">
        <label for="behavior-form" class="behavior-label">Student Behavior</label>
        <input type="text" id="student-behavior" name="student-behavior" class="new-input" />


        <label class="behavior-label" for="behavior content">Behavior Content</label>
        <input id="behavior content" name="behavior content" class="new-input" />

        <button type="submit" class="btn">Submit</button>
    </form>
</div>

<script src="/javascript/studentForm.js"></script>
