<!-- Loop over each object in the projects array -->

<h1>{{classroom.[0].teacher_name}}</h1>


{{#each classroom.[0].Students as |student| }}
<a href="/api/student/findBehavior/{{student_id}}">{{student.student_name}}</a><br>
{{/each}}


