<h1>New Teacher</h1>

<form action="/teacher/login">
    <input type="text"  id="teacher_name" class="" placeholder="">
    <input type="text"  id="teacher_email" class="" placeholder="">
    <button>Submit</button>
</form>