{{!-- <div class="container">
            <div class="add">
                <h1>Add Student Behavior</h1>
                <div class="field">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" class="fname">
                </div>
                <div class="field">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" class="lname">
                </div>
                <div class="field">
                    <label for="behavior">Behavior</label>
                    <input type="text" name="behavior" class="newbehavior">
                </div>
                <div class="field">
                    <label for="addbehavior"></label>
                    <input type="button" name="" value="Add" class="addButton">
                </div>

            </div>
</div> --}}


<div class="text-center">
  {{!-- {{#each teacher as |teacher|}} --}}
  <h2>Welcome {{teacher.teacherName}}</h2>

  <p>Your current student behaviors:</p>
{{!-- {{#each behaviors as |behavior| }} --}}
  <p>{{behavior.student.studentBehavior_id}}</p>
  
  
 {{!-- {{/each}} --}}
  <p>
    <button class="btn btn-primary">Update this student's behavior</button>
  </p>
  {{!-- {{/each}} --}}
</div>

