Student:
<h1>{{student.student_name}}</h1>

Grade: {{student.student_grade}}<br/>
<br>
<form action="/api/student/saveBehavior" method="POST" id="frmBehavior" onsubmit="this.focus();setTimeout(function () {
    window.location.reload(); }, 10)">


<!--HERE-->
    <select name="behavior_id" id="behavior_id">
        <option value="" disabled selected hidden>select a behavior</option>
        {{#each behaviors}}{{> behavior-list}}{{/each}}
    </select>
    <input type="hidden" name="student_id" id="student_id" value="{{student.student_id}}" />
    <button  onclick="freload()">save1s</button>
    <br/>
    <br/>

<!--    WORKING-->
{{#each student.Behaviors}}
    {{> student-behavior}}
{{/each}}

