textarea{

    border-radius: 5px;
}

select{

    border-radius: 3px;
}


.note {
    border: 1px solid black;
    width: 250px;
    height: 100px;
}

.table-cell {
    border: 1px solid red;
    flex: 1;
}


.actixons {
    White-space: pre;
}

.studentContainer {
    display: flex;
    border: 1px solid gray;
    justify-content: space-around;
    flex-wrap: wrap;
}


.student-card-title {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
    background-color: #DDD;
    border-radius: 5px 5px 0px 0px;
}


.item {
    width: 50vh;
    height-min: 15vh;
    margin: 15px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.behavior-note {
    White-space: pre;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 75%;
}

.student-card-date {
    font-weight: bold;
    font-size: 75%;
    margin-left: 15px;
}

.student-card-behavior {

}

.vred {
    border: 1px solid red;
}


.behavior-container {

    display: flex;
    border: 1px solid gray;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item-behavior {
    width: 50vh;
    height-min: 15vh;
    margin: 15px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.item-history {
    text-align: left;

}

.note-behavior {
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 85%;
    padding: 3px;
    text-align: left;
    background-color: #EFEFEF;
}

.behavior-description {
    font-weight: bold;
    color: gray;
    border: 1px solid black;
    padding: 0px 5px;
    border-radius: 3px;
}

.css-button-sharp--sand {
    min-width: 130px;
    height: 40px;
    color: #464645;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #adb5bd;
    /*background: #adb5bd;*/
    background: #EFEDEE5;
    border-radius: 5px;
}
.css-button-sharp--sand:hover {
    background: #fff;
    color: #adb5bd
}





























